{% extends 'GermBundle::base.html.twig' %}

{% block main_width %}6{% endblock %}
{% block right_width %}6{% endblock %}

{% block content_main %}
	<div class="panel panel-default">
		<div class="panel-body">
			{{ form_start(form) }}
			{{ form_widget(form) }}
			<button class="btn btn-primary" type="submit">{% trans %}Save{% endtrans %}</button>
			{% if mode == 'edit' %}
				<a class="btn btn-danger" href="{{ path('germ_person_remove', {'personSlug': form.vars.value.id}) }}" data-toggle="tooltip" data-placement="left" title="{% trans %}The person will be complety removed{% endtrans %}">{% trans %}Remove person{% endtrans %}</a>
			{% endif %}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}

{% block content_right %}
	{% if accountForm is defined and accountForm %}
		<div class="panel panel-default">
			<div class="panel-body">
	  			{{ form_start(accountForm) }}
				{{ form_widget(accountForm) }}
				<button class="btn btn-primary" type="submit">{% trans %}Save{% endtrans %}</button>
				{{ form_end(accountForm) }}
  		  	</div>
		</div>
	{% endif %}
	{% if passwordForm is defined and passwordForm %}
		<div class="panel panel-default">
			<div class="panel-body">
				{{ form_start(passwordForm) }}
				{{ form_widget(passwordForm) }}
				<button class="btn btn-primary" type="submit">{% trans %}Save{% endtrans %}</button>
				{{ form_end(passwordForm) }}
			</div>
		</div>
	{% endif %}
	{% if accountCreateForm is defined and accountCreateForm %}
		<div class="panel panel-default">
			<div class="panel-body">
				{{ form_start(accountCreateForm) }}
				{{ form_widget(accountCreateForm) }}
				<button class="btn btn-primary" type="submit">{% trans %}Save{% endtrans %}</button>
				{{ form_end(accountCreateForm) }}
			</div>
		</div>
	{% endif %}
	{% if accountCreateForm is defined and not accountCreateForm and not accountForm %}
		<a class="btn btn-default" href="{{ path('germ_person_account_enable', {'personSlug': form.vars.value.id}) }}" data-toggle="tooltip" data-placement="left" title="{% trans %}The person will be able to connect this application{% endtrans %}">{% trans %}Activate account{% endtrans %}</a>
	{% endif %}
	{% if accountForm is defined and accountForm %}
		<a class="btn btn-default btn-warning" href="{{ path('germ_person_account_disable', {'personSlug': form.vars.value.id}) }}" data-toggle="tooltip" data-placement="left" title="{% trans %}The person wont be able to connect this application{% endtrans %}">{% trans %}Desactivate account{% endtrans %}</a>
	{% endif %}
{% endblock %}