{% extends 'GermBundle::base.html.twig' %}

{% block content_main %}
	{% if is_granted('ROLE_PERSON_CREATE') %}
		<a class="btn btn-primary" href="{{ path('germ_person_create') }}">
			{% trans %}New person{% endtrans %}
		</a>
		<a class="btn btn-default" href="{{ path('germ_person_list', {_format: 'csv'}) }}">
			{% trans %}Export CSV{% endtrans %}
		</a>
		<a class="btn btn-default" href="{{ path('germ_person_list', {_format: 'geojson'}) }}">
			{% trans %}Export GeoJson{% endtrans %}
		</a> {% trans %}to be used on{% endtrans %} <a target="_blank" href="http://geojson.io">geojson.io</a></li>
	{% endif  %}
	<table class="table table-striped">
		<tr>
			<th>{% trans %}Name{% endtrans %}</th>
		</tr>
		{% for person in persons %}
			<tr>
				<td>
					{% if is_granted('ROLE_PERSON_EDIT') %}
						<a href="{{ path('germ_person_edit', {'personId': person.id}) }}" data-toggle="tooltip" data-placement="left" title="{% trans with {'%name%': person} %}Edit %name%{% endtrans %}">
					{% elseif is_granted('ROLE_PERSON_SEE') %}
						<a href="{{ path('germ_person_show', {'personId': person.id}) }}">
					{% endif %}
						{{ person }}
					{% if is_granted('ROLE_PERSON_EDIT') or is_granted('ROLE_PERSON_SEE') %}
						</a>
					{% endif  %}
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}

{% block main_width %}{% if form is defined %}6{% else %}12{% endif %}{% endblock %}
{% block right_width %}{% if form is defined %}6{% else %}0{% endif %}{% endblock %}

{% block content_right %}
	{% if form is defined %}
		<div class="panel panel-default">
			<div class="panel-body">
				{{ form_start(form) }}
				{{ form_widget(form) }}
				<button class="btn btn-primary" type="submit">{% trans %}Create person{% endtrans %}</button>
				{{ form_end(form) }}
			</div>
		</div>
	{% endif %}
{% endblock %}

